@using MVCForum.Domain.DomainModel
@using MVCForum.Website.Application
@using MVCForum.Website.Controllers
@using MVCForum.Website.ViewModels
@model MVCForum.Website.ViewModels.ViewPostViewModel
@{
    ViewBag.Title = Html.Settings().PageTitle ?? Html.Settings().ForumName;
    ViewBag.MetaDesc = Html.Settings().MetaDesc;
    ViewBag.ShowSidebar = false;
}
@section carousel {
    @*@Html.PageContent("uFrameJumboTron", false)*@
}

@section fullwidth {
    @Html.Partial("SectionList", new PageSectionsListViewModel("HomeSections"))


    @*<div class="container-fluid">
            <div class="row">

                <div class="row">
                    <br />
                    <h1>Featured Products</h1>
                    <br />
                </div>

                @using (var list = Html.List("FeaturedProducts"))
                {
                    foreach (PageContentViewModel item in list)
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @Html.EditProperties("Edit")
                                    @item.DeleteLink("Delete")
                                    <h2>@Html.ModalProperty("Title")</h2>@Html.ModalProperty("Content")
                                </div>
                                <div class="panel-footer clearfix">
                                    <div class="pull-right">
                                        @{
                        var productId = Html.Property("ProductId");
                                        }
                                        <a href="@Url.Action("ProductInfo", "Market", new {productId})" class="btn btn-primary">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @list.AddNewLink
                }

            </div>
        </div>*@

    <div class="row" style="border-top: solid 1px #f1f1f1; padding: 15px;">
        <div class="container-fluid">
            <div class="text-center">
                <h2>Some Of Our Customers And Partners</h2>
                <br/>
            </div>
            @using (var list = Html.List("Partners"))
            {
                foreach (PageContentViewModel content in list)
                {

                    <div class="col-md-3 col-sm-6">
                        @if (list.PageContext.CanEdit)
                        {
                            @content.AdminBar()
                        }
                        <a href="@Html.Property("LinkUrl")">
                            <img src="@Html.Property("LogoUrl")" class="img-responsive img-centered" alt="">
                        </a>
                    </div>

                }
                if (list.PageContext.CanEdit)
                {
                    @list.AddNewLink
                }
            }


        </div>


    </div>
}
