@using MVCForum.Website.Controllers
@model dynamic
@using (var page = Html.Context("uFramePage"))
{
    @Html.Property("First-Name")
    @Html.Property("Last-Name")
    <h3>Section</h3>
    @Html.ModalProperty("MyProperty2")

    @*<h3>List</h3>
    <table class="table table-bordered table-striped table-hover">
        @using (var list = Html.List("TableList"))
        {
            foreach (PageContentViewModel item in list)
            {
                <tr><td>@Html.Property("Name")</td><td>@Html.Property("Description")</td><td>@item.DeleteLink("Delete")</td><td>@Html.EditProperties("Edit")</td></tr>
            }
            <tr><td>@list.AddNewLink</td></tr>
        }

    </table>*@
    <h3>List</h3>
    <table class="table table-bordered table-striped table-hover">
        @using (var list = Html.List("TableList"))
        {
            foreach (PageContentViewModel item in list)
            {
                <tr><td>@Html.Property("Name")</td><td>@Html.Property("Description")</td><td>@item.DeleteLink("Delete")</td><td>@Html.EditProperties("Edit")</td></tr>
            }
            <tr><td>@list.AddNewLink</td></tr>
        }

    </table>
    @Html.ModalProperty("HELLO")
    @*<table>
        @using (var list = Html.List("TableList"))
        {
            foreach (PageContentViewModel item in list)
            {
                <tr><td>@Html.Property("Name")</td><td>@Html.Property("Description")</td><td>@item.DeleteLink("Delete")</td><td>@Html.EditProperties("Edit")</td></tr>
            }
            <tr><td>@list.AddNewLink</td></tr>
        }

    </table>*@
    @*<div class="row">
        @using (var list = @Html.List("Stuff"))
        {
            foreach (PageContentViewModel item in list)
            {
                <div class="row">@Html.Property("TestProperty")</div>
                @item.DeleteLink()
            }
            <div class="row">
            @list.AddNewLink    
            </div>
            
        }
    </div>*@
}


