@using MVCForum.Domain.Constants
@using MVCForum.Website.Controllers
@{
    var theme = Html.Settings().Theme;
    var themePath = string.Concat(AppConstants.ThemeRootFolder, theme);
    var globalClass = Convert.ToBoolean(PageData[AppConstants.IsMobileDevice]) ? "mobile" : "desktop";
    var products = ViewBag.Products;
    var context = Html.Context();
    
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invert Game Studios</title>
    <meta name="description" content="@ViewBag.MetaDesc" />
    @RenderSection("SocialMeta", false)
    @ViewBag.Canonical
    <style type="text/css">
            @@font-face { font-family: 'MVCforumLight'; src: url('@Url.Content(themePath + "/content/fonts/mvcforumli.eot")'); src: url('@Url.Content(themePath + "/content/fonts/mvcforumli.eot")?#iefix') format('embedded-opentype'), url('@Url.Content(themePath + "/content/fonts/mvcforumli.woff")') format('woff'), url('@Url.Content(themePath + "/content/fonts/mvcforumli.ttf")') format('truetype'),url('@Url.Content(themePath + "/content/fonts/mvcforumli.svg")#MVCforumLight') format('svg'); font-weight: normal; font-style: normal; }
            @@font-face { font-family: 'MVCforumSemiBold'; src: url('@Url.Content(themePath + "/content/fonts/mvcforumsb.eot")'); src: url('@Url.Content(themePath + "/content/fonts/mvcforumsb.eot")?#iefix') format('embedded-opentype'), url('@Url.Content(themePath + "/content/fonts/mvcforumsb.woff")') format('woff'), url('@Url.Content(themePath + "/content/fonts/mvcforumsb.ttf")') format('truetype'),url('@Url.Content(themePath + "/content/fonts/mvcforumsb.svg")#MVCforumSemiBold') format('svg'); font-weight: normal; font-style: normal; }
    </style>
    @(
 Bundle.Css()
                .Add("~/Content/bootstrap.css")
        //  .Add("~/Content/Styles/bootstrap-responsive.css")
        // .Add("~/Content/Styles/bootstrap-prettify.css")
                .Add(themePath + "/Content/Styles/theme.css")
                .MvcRender("~/content/cache/combined_" + theme + "_#.css")
    )
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!--[if lt IE 8]>
            <script src="@Url.Content("~/scripts/json3.js")"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@Url.Content(themePath + "/content/images/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content(themePath + "/content/images/apple-touch-icon-57-precomposed.png")">
    <script type="text/javascript">
        var app_base = '@Url.Content("~/")';
    </script>
    @(Bundle.JavaScript()
                    .Add("~/Scripts/jquery-2.0.1.min.js")
                    .Add("~/Scripts/jquery.unobtrusive-ajax.js")
                    .Add("~/Scripts/bootstrap.min.js")
                    .Add("~/Scripts/jquery.placeholder.min.js")
                    .Add("~/Scripts/bootstrap-prettify.js")
                    .Add("~/Scripts/general.js")
                    .Add(themePath + "/Content/Scripts/general.js")
                    .MvcRender("~/scripts/cache/combined_" + theme + "_#.js")
    )
    @RenderSection("Header", false)
    <link rel="stylesheet" href="@Url.Content("~/Content/Invert.css")">

</head>

<body class="@globalClass">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="@Url.Content("~/Content/InvertLogo.png")" alt="" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="@Url.Action("Index", "Home")">@Html.LanguageString("Layout.Nav.Home")</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
                        @Html.Action("ProductsMenu", "Market")
                    </li>
                    <li><a href="@Url.Action("Support", "Home")">Support</a></li>
                    <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User != null && User.IsInRole("Admin") && context != null )
                    {
                        var canEdit = this.ViewContext != null && this.ViewContext.Controller is PageEditController && Html.Context() != null && Html.Context().CanEdit && Html.Context().GetContentAction != null;
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Edit<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                              
                                   @if (!canEdit)
                                   {
                                       <li>
                                           <a href="@Url.Action("CreateDraft", "PageContent", new {rootId = context.Id})">Create Draft</a>
                                       </li>
                                   }
                                   else
                                   {
                                    <li>
                                        @Html.EditProperties("Edit Page")
                                    </li>
                                    <li>
                                        <a href="@Url.Action("PublishContent", "PageContent", new { rootId = context.Id })">Publish <span class="badge draft-count"></span></a>
                                    </li>
                                   }
                            </ul>
                        </li>
                    
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Forums <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @if (Html.Settings().EnablePoints)
                            {
                                <li><a href="@Url.Action("Leaderboard", "Home")">@Html.LanguageString("Layout.Nav.Leaderboard")</a></li>
                            }
                            <li><a href="@Url.Action("Index", "Category")">Categories</a></li>
                            <li><a href="@Url.Action("Activity", "Home")">@Html.LanguageString("Layout.Nav.Activity")</a></li>
                            <li><a href="@Url.Action("AllBadges", "Badge")">@Html.LanguageString("Layout.Nav.Badges")</a></li>
                        </ul>
                    </li>
                    @*<li><a href="@Url.Action("Index", "Market")"><strong>Invert Market</strong></a></li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">My Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            @if (!User.Identity.IsAuthenticated)
                            {
                                if (Html.Settings().SuspendRegistration != true)
                                {
                                    <li><a href="@Url.Action("Register", "Members")">@Html.LanguageString("Layout.Nav.Register")</a></li>
                                }
                                <li><a href="@Url.Action("LogOn", "Members")">@Html.LanguageString("Layout.Nav.Logon")</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Downloads", "Members", new {  })">Downloads</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("AddUnityInvoice", "Members", new {  })">Link Unity Invoice</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Edit", "Members", new {  })">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Purchases", "Members")">Purchases</a>
                                </li>
                                 <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("SlackInvite", "Members")">Get Invited To Slack!</a>
                                </li>
                                <li>@Html.ActionLink(Html.LanguageString("LogOn.LogOff"), "LogOff", "Members")</li>
                            }



                            @if (User.IsInRole(AppConstants.AdminRoleName))
                            {
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">@Html.LanguageString("Layout.Nav.Admin")</a></li>
                            }
                        </ul>
                    </li>

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>


    @if (IsSectionDefined("title"))
    {
        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    @RenderSection("title")
                </div>
            </div>

        </div>
    }
    @if (IsSectionDefined("tabstitle"))
    {
        <div class="page-header">
            <div class="container-fluid" style="margin-bottom: 40px;">
                <div class="row">
                    @RenderSection("tabstitle")
                </div>
            </div>

        </div>
    }
    @if (IsSectionDefined("carousel"))
    {
        var height = Html.PropertyAsInt("Height");
        using (var list = @Html.List(Html.Property("Carousel").ToString().Trim(), true, true))
        {
            var count = 0;
            @RenderSection("carousel")
            <div id="myCarousel" class="carousel slide" style="margin-top: 50px;">
                <div class="carousel-inner">
                    @foreach (PageContentViewModel page in list)
                    {
                        count++;
    
                        
                        <div class="item @(page == list.Items.First() ? "active" : "")" style="height: @(height == 0 ? 500 : height)px;">
                            @if (list.CanEdit)
                            {
                            <div class="text-center" style="background-color: #f1f1f1; padding: 5px;">
                                @page.AdminBar()
                            </div>
                            }

                            <img src="@Html.Property("ImageUrl")" alt="" style="z-index: -1;">
                            <div class="container-fluid" style="padding: @Html.Property("Padding")px;">
                                @{
                                    var item = Html.Selection("Slide", "SlideA").ToString().Trim();
                                }
                                @if (item == "SlideA")
                                {
                                    <div class="col-md-5">
                                        <div class="carousel-caption">
                                            <h1>@Html.Property("Title")</h1>
                                            <p >@Html.ModalProperty("Description") </p>
                                            <a class="btn btn-large btn-primary" href="@Html.Property("LinkUrl")">@Html.Property("LinkText", "More Info")</a>
                                        </div>
                                  
                                    </div>                                
                                    <div class="col-md-7">
                                        <img src="@Html.Property("DetailImageUrl")" style="padding-top: 38px;width: 600px; height: auto;"  />
                                </div>
                                }
                                else
                                {
                                @Html.Partial(item, page)
                                }
                                
                              
                                @*@Html.Partial(item, page)*@
                            </div>
                        </div>
                    }
                </div>
                @if (count > 1)
                {
                    <a class="left carousel-control hidden-xs" style="height: 100% !important; color: white !important;" href="#myCarousel" data-slide="prev">‹</a>
                    <a class="right carousel-control hidden-xs" style="height: 100% !important;color: white !important;" href="#myCarousel" data-slide="next">›</a>
                }

            </div>
            if (list.PageContext.CanEdit)
            {
                @list.AddNewLink                
                <div class="clearfix"></div>
            }



        }
    }
    @if (IsSectionDefined("jumbotron"))
    {
        <div class="jumbotron">
            <div class="container-fluid">
                @RenderSection("jumbotron")
            </div>
        </div>
    }
    @if (IsSectionDefined("jumbotron2"))
    {
        <div class="jumbotron" style="background-image: url(@Url.Content("~/Content/Images/uFrameTransparent.png")); background-repeat: repeat;">
            <div class="container-fluid">
                @RenderSection("jumbotron2")
            </div>
        </div>


    }

    @if (IsSectionDefined("fullwidth"))
    {
        @RenderSection("fullwidth")
        @RenderBody()
        <div class="row">

            @*@Html.Action("GetMainStats", "Stats")
                @Html.Action("GetCurrentActiveMembers", "Members")*@
            @RenderSection("Footer", false)
            <hr>
        </div>

    }
    else
    {
        <div class="container-fluid">

            @Html.Partial("_GenericMessage")
            @Html.Partial("_EmailConfirmationNotice")
            @Html.Partial("_NoScript")
            <div id="main" class="row">

                @if (ViewBag.ShowSidebar == null || ViewBag.ShowSidebar == true)
                {
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                    <div class="col-md-3 sidelayoutsection">

                        <div class="main-side-box">

                            @RenderSection("side", false)
                        </div>
                    </div>

                }
                else
                {
                    @RenderBody()
                }


            </div>
            <div class="row">

                @*@Html.Action("GetMainStats", "Stats")
                    @Html.Action("GetCurrentActiveMembers", "Members")*@
                @RenderSection("Footer", false)
                <hr>
            </div>
            @{


            }

        </div>
    } 
    @if (context != null)
    {
        <script>
            $(function () {
                $('.draft-count').html("@((context as EditablePageContext).DraftCount)");
            });
        </script>
        {
            context.Helper = Html;
            context.Dispose();
        }
    }
    <footer class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">

                <p>&copy; @DateTime.UtcNow.Year Invert Game Studios LLC. All rights reserved.
            </div>
        </div>
    </footer>

</body>
</html>
