@model MVCForum.Website.Controllers.PageContentViewModel
@{
    Layout = null;
}
@if (Model.IsEditable)
{

    <div id="@Model.PropertyName-Editor" class="modal fade">
        <div class="modal-dialog">
            @using (Html.BeginForm("Save", "PageContent", FormMethod.Post, new { id = @Model.PropertyName + "Form" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Edit @Model.PropertyName</h4>
                    </div>
                    <div class="modal-body">

                        @Html.HiddenFor(p => p.PropertyName)
                        @Html.HiddenFor(p => p.ContentId)
                        @Html.HiddenFor(p => p.IsMarkdown)
                        @Html.HiddenFor(p => p.ParentId)
                        <div id="">
                            <div class="row-fluid">
                                <div class="span12 topiccontent">
                                    @if (Model.IsMarkdown)
                                    {<div class="editor-field editorholder">
                                        @Html.EditorFor(model => model.Content)
                                        @Html.ValidationMessageFor(model => model.Content)
                                    </div>

                                    }
                                    else
                                    {
                                        <div class="editor-field">
                                            @Html.TextAreaFor(p => p.Content, new { @Style = "color: black !important;" })
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" onclick="$(this).closest('form').submit();">Save Changes</button>
                        @*<input type="submit" class="btn btn-primary" value="Save Changes" />*@
                    </div>
                </div><!-- /.modal-content -->
            }
        </div><!-- /.modal-dialog -->
    </div>
       
    if (Model.IsEditable)
    {
        <a class="" style="cursor: pointer; font-size: 10px !important;" data-toggle="modal" data-target="#@Model.PropertyName-Editor">
            [Edit]
        </a>
    }
}