@using System.Web.UI.WebControls
@using MVCForum.Website.Controllers
@model MVCForum.Website.ViewModels.PageSectionsListViewModel
@{
    var sectionListName = Html.Property("SectionListName");
}
@using (var parts = Html.List(Model.ListName ?? sectionListName))
{
    foreach (PageContentViewModel part in parts)
    {
        var backgroundColor = Html.Property("BackgroundColor");
        var backgroundImage = Html.Property("BackgroundImage");
        var borderStyle = Html.Property("BorderStyle");
        var padding = Html.Property("Padding");
        if (parts.PageContext.CanEdit)
        {
            <div class="row" style="background-color: #f1f1f1; text-align: center;">
                @part.AdminBar()
                @*@Html.EditProperties("Edit")
                    @part.DeleteLink("Delete")
                    @part.MoveDownLink("Down")
                    @part.MoveUpLink("Up")*@
            </div>
        }

        var view = Html.Selection("ItemView", "Default", "50-50","40-60","Carousel", "NewsLetter", "Testimonials", "Boxes").ToHtmlString().Trim();
        <div class="row" style="border-top: @(borderStyle); background-image: url(@(backgroundImage)); background-color: @backgroundColor; padding-top: @(padding)px; padding-bottom: @(padding)px;">

            @if (view == "Default")
            {

                <div class="container-fluid">
                    <div class="col-md-12">
                        @Html.ModalProperty("Content")
                    </div>


                </div>

            }
            else if (view == "Carousel")
            {
                var height = Html.PropertyAsInt("Height");
                using (var list = @Html.List(Html.Property("Carousel").ToString().Trim(), true, true))
                {
                    var count = 0;
                    <div id="myCarousel" class="carousel slide" style="margin-top: 50px;">
                        <div class="carousel-inner">
                            @foreach (PageContentViewModel page in list)
                            {
                                count++;
                                <div class="item @(page == list.Items.First() ? "active" : "")" style="height: @(height == 0 ? 500 : height)px;">

                                    <img src="@Html.Property("ImageUrl")" alt="" style="z-index: -1;">
                                    <div class="container-fluid">


                                        @if (list.PageContext.CanEdit)
                                        {
                                            if (page.IsDraft)
                                            {
                                                <b>DRAFT</b>
                                            }
                                            @page.AdminBar()
                                            <div class="text-center" style="background-color: #f1f1f1; padding: 5px;">@Html.EditProperties("Edit Slide") @page.DeleteLink("Delete")</div>
                                        }
                                        @page.Render()


                                    </div>
                                </div>
                            }
                        </div>
                        @if (count > 1)
                        {
                            <a class="left carousel-control hidden-xs" style="height: 100% !important; color: white !important;" href="#myCarousel" data-slide="prev">‹</a>
                            <a class="right carousel-control hidden-xs" style="height: 100% !important;color: white !important;" href="#myCarousel" data-slide="next">›</a>
                        }

                    </div>
                    if (list.PageContext.CanEdit)
                    {
                        @list.AddNewLink
                    }


                    <div class="clearfix"></div>
                }
            }
            else if (view == "50-50")
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="color: #111;">@Html.ModalProperty("Title")</h1>
                        </div>
                        <div class="col-md-6" style="color: #444 !important;">
                            @Html.MarkdownProperty("Content")
                        </div>
                        <div class="col-md-6">
                            @{
                var youtubeUrl = Html.Property("ImageUrl");
                            }
                            <img class="img-responsive" src="@youtubeUrl" width="700" height="450" alt="">
                        </div>
                    </div>
                </div>
            }
            else if (view == "40-60")
            {
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                    </div>
                                    <div class="col-md-4" style="color: #444 !important;">
                                        <h1 style="color: #111;">@Html.ModalProperty("Title")</h1>
                                        @Html.MarkdownProperty("Content")
                                    </div>
                                    <div class="col-md-8">
                                        @{
                var youtubeUrl = Html.Property("ImageUrl");
                                        }
                                        <img class="img-responsive" src="@youtubeUrl" width="700" height="450" alt="">
                                    </div>
                                </div>
                            </div>
            }
            else if (view == "Testimonials")
            {
                <div class="row">
                    @using (var list = Html.List("Testimonials"))
                    {
                        foreach (PageContentViewModel item in list)
                        {
                            <div class="col-sm-6">
                                @if (list.PageContext.CanEdit)
                                {
                                    @item.AdminBar()
                                }
                                <div class="testimonial pull-right">
                                    <div class="quote">
                                        @Html.ModalProperty("Text")
                                        <div class="arrow-down">
                                            <div class="arrow"></div>
                                            <div class="arrow-border"></div>
                                        </div>
                                    </div>
                                    <div class="author">
                                        @*<img src="images/testimonials/testimonial3.jpg" class="pic" alt="testimonial3">*@
                                        <div class="name">@Html.Property("Name")</div>
                                        <div class="company">@Html.Property("Company")</div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (list.PageContext.CanEdit)
                        {
                            @list.AddNewLink
                        }
                    }


                </div>
            }
            else if (view == "Boxes")
            {
                <div class="container-fluid">
                    <div class="row">
                        @using (var list = Html.List("ProductBoxes"))
                        {
                            foreach (PageContentViewModel item in list)
                            {
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                   
                                        <div class="panel-body">
                                            @if (list.PageContext.CanEdit)
                                            {    
                                                
                                                <div class="panel-heading">
                                                      @item.AdminBar()
                                                 </div>
                                               
                                            }
                                            <h3>@Html.ModalProperty("Title")</h3>
                                            <p>@Html.ModalProperty("Desription")</p>
                                            <br/>
                                            <a href="@Html.Property("LinkUrl")" class="btn btn-primary btn-large">Learn More</a>
                                        </div>
                                        
                                    </div>
                                </div>

                            }
                            if (list.PageContext.CanEdit)
                            {
                                @list.AddNewLink
                            }

                        }
                    </div>
                </div>
            }
            else
            {
                try
                {
                    @Html.Partial(view, (object)part)
                }
                catch (Exception ex)
                {
                    <b>@ex.Message</b>
                }

            }




        </div>
    }
    if (parts.PageContext.CanEdit)
    {
        @parts.AddNewLink
    }

}