@model MVCForum.Website.ViewModels.DownloadsViewModel

@{
   
}
@section title {
    @Html.ModalProperty("DownladsTitle")
}
<p>Note: If you have pre-ordered anything it may not be available for download currently.</p>

    @foreach (var group in Model.Downloads.GroupBy(p => p.Product))
    {
        <table class="table table-striped">
            <thead>
            <tr><th colspan="3">
                <h3>@group.Key.Name</h3></th></tr>
            <tr><th>Release Date</th><th>Product</th><th>Version</th></tr>
            </thead>
        @foreach (var item in group)
        {
            <tr>
                <td>@item.ReleaseDate</td>
                <td>@item.Product.Title</td>
                <td>@item.Version</td>
                <td><a class="btn btn-primary" href="@Url.Action("Download", "Members", new { fileId = item.Id })">Download</a></td>
            </tr>
        }
    </table>

    }


@if (Model.UploadVM != null)
{
    using (var form = Html.BeginForm("UploadProductDownload", "Members", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>File</label>
        <input type="file" name="File" id="File"/>
        <label>For Product</label>
        @Html.DropDownListFor(p=>p.UploadVM.SelectedProduct,Model.UploadVM.Products)
        <label>Allowed Roles</label>
        foreach (var item in Model.UploadVM.Roles)
        {
            <input type="checkbox" name="SelectedRoles" value="@item.Id">@item.RoleName
        }
        <input type="submit" />
    }
}