@using Microsoft.Ajax.Utilities
@using MVCForum.Website.Controllers
@using MVCForum.Website.ViewModels
@model MVCForum.Website.ViewModels.MarketProductViewModel

@{
    ViewBag.Title = "Purchase";
    ViewBag.Page = Model.ProductId.ToString();
    ViewBag.ShowSidebar = false;
    var showScreenshots = Html.PropertyAsBool("Show Screenshots");
    var showPurchase = Html.PropertyAsBool("Show Purchase");
    var showVideos = Html.PropertyAsBool("Show Videos");
    var showDocumentation = Html.PropertyAsBool("Show Documentation");
    var showFAQ = Html.PropertyAsBool("Show FAQ");
    //    Layout = "~/Themes/Dark/Views/Home/Activity.cshtml";
}
@section header {
    <style>
        #myCarousel {
            margin-top: 0px !important;
        }
    </style>
}
@*@section side {
        <div class="panel panel-default" style="margin-top: 15px; background-color: #f3f3f3">

            <div class="panel-body">
                <h2 style="text-align: center;"><small>Starting at: </small><strong>$@Model.PriceLow</strong></h2>
                <table class="table table-condensed">
                    <tr><td>Seller: </td><td>@Model.Seller</td></tr>
                    <tr><td>License: </td><td>@Model.LicenseName</td></tr>
                </table>
                <p>
                    <a href="#" class="btn btn-primary btn-large" role="button">One-Click Subscribe</a>

                </p><small>One-click purchases immediately charge your account.</small>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Action("SideAdminPanel", "Members")

        }
      @Html.Action("SideSearch", "Search")
            @Html.Action("PopularTags", "Tag")
            @Html.Action("CurrentWeekHighPointUsers", "Point")
    }*@

@helper Editor(string name, HtmlString content)
{
    using (Html.BeginForm("SaveProperty", "Market", new { propertyName = name }, FormMethod.Post))
    {
        @Html.HiddenFor(p => p.ProductId)
        <div id="@name-Editor" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div id="">
                            @Html.Raw(content)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save Changes" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    }
}
@helper EditProperty(string name)
{
    if (Model.AllowEditing)
    {
        <a class="" style="font-size: 12px; font-weight: normal;" data-toggle="modal" data-target="#@name-Editor">
            Edit
        </a>
    }
}
@helper DescriptionEditor()
{
    <div class="row-fluid">
        <div class="span12 topiccontent">
            <div class="editor-field editorholder">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
    </div>
}
@if (Model.AllowEditing)
{
    @Editor("Title", Html.EditorFor(p => p.Title))
    @Editor("ProductType", Html.EditorFor(p => p.ProductType))
    @Editor("Description", new HtmlString(DescriptionEditor().ToHtmlString()))
    @*@Editor("Description", Html.EditorFor(p=>p.))*@
}


@section carousel {

    <div class="page-header">
        <div class="container-fluid">

            <div class="row">
                @*<div class="col-md-2">

                        <img src="@Html.Property("ProductImage")" height="90" />
                    </div>*@
                @*<div class="col-md-10">
                        <h1 style="font-weight: bold; ">@Model.Title @EditProperty("Title") <small>@Model.ProductType @EditProperty("ProductType")</small></h1>
                    </div>*@



            </div>
            <ul class="nav nav-pills" id="myTab" style="width: 100%; margin-top: 10px;">

                <li class="@(Model.PageName == "Overview" ? "active" : string.Empty)"><a href="@Url.Action("ProductInfo","Market",new{ productId = Model.ProductId })">Overview</a></li>

                @if (showScreenshots)
                {
                    <li class="@(Model.PageName == "Screenshots" ? "active" : string.Empty)"><a href="@Url.Action("Screenshots","Market",new{ productId = Model.ProductId })">Screenshots</a></li>
                }
                @if (showVideos)
                {
                    <li class="@(Model.PageName == "Videos" ? "active" : string.Empty)"><a href="@Url.Action("Videos","Market",new{ productId = Model.ProductId })">Vide>Videos</a></li>
                }
                @if (showPurchase)
                {
                    <li class="@(Model.PageName == "Purchase" ? "active" : string.Empty)"><a href="@Url.Action("Purchase","Market",new{ productId = Model.ProductId })">Purchase</a></li>
                }
                @if (showDocumentation)
                {
                    <li class="@(Model.PageName == "Documentation" ? "active" : string.Empty)"><a href="@Url.Action("Documentation","Market",new{ productId = Model.ProductId })">Documentation</a></li>
                }

                @if (showFAQ)
                {
                    <li class="@(Model.PageName == "FAQ" ? "active" : string.Empty)"><a href="@Url.Action("FAQ","Market",new{ productId = Model.ProductId })">F.A.Q</a></li>
                }

            </ul>
        </div>

    </div>
}
@section fullwidth {
    <div style="">
        @Html.Partial(Model.PageName, Model)
    </div>
}
